.entry-card .pic-wrapper {
  height: 100%;
  width: 100%;
  border-width: 2px;
  border-color: var(--primary-100);
  background-color: var(--base-800);
  opacity: 0.5;
  position: relative;
  aspect-ratio: 1 / 1;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: inset 0px 0px 10px var(--primary-500);
}

.entry-card section.title {
  padding: 0.25rem;
  text-align: center;
  color: var(--primary-600);
}

a:focus .entry-card .pic-wrapper, .entry-card:hover .pic-wrapper {
  opacity: 1;
}

a:focus .entry-card section.title, .entry-card:hover section.title {
  color: var(--primary-200);
}

a:focus .entry-card section.title,
.entry-card:hover section.title {
  text-shadow: 0px 0px 7px var(--primary-500);
}

a:focus .entry-card .pic-wrapper svg.selector {
  opacity: 1;
}

.entry-card .pic-wrapper svg.selector {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  max-width: unset;
  color: var(--primary-200);
  filter: drop-shadow(0px 0px 7px var(--primary-500));
  opacity: 0;
}

.entry-card .pic-wrapper img.picture {
  height: 100%;
  width: 100%;
}
