.entries-layout {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	z-index: 1;
}

	.entries-layout > header, .entries-layout > footer {
	position: relative;
}

	.entries-layout > header, .entries-layout > footer {
	background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

	.entries-layout > header, .entries-layout > footer {
	--tw-gradient-from: var(--secondary-900);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(255, 255, 255, 0));
}

	.entries-layout > header, .entries-layout > footer {
	--tw-gradient-to: var(--secondary-500);
}

	.entries-layout > header, .entries-layout > footer {
	padding: 0.25rem;
}

	@media (min-width: 768px) {

	.entries-layout > header, .entries-layout > footer {
		padding: 0.5rem;
	}
}

	.entries-layout > header,
	.entries-layout > footer {
		z-index: 1;
	}

	.entries-layout > header nav, .entries-layout > footer nav {
			position: relative;
			z-index: 1;
		}

	.entries-layout > header .bg-picture, .entries-layout > footer .bg-picture {
			background-image: url(/assets/concrete-2.png);
			background-size: 15rem;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.3;
			mix-blend-mode: hard-light;
		}

	.entries-layout > header {
		box-shadow: 0px 5px 20px var(--primary-500);
	}

	.entries-layout > footer {
		box-shadow: 0px -5px 20px var(--primary-500);
	}

	.entries-layout > main {
	position: relative;
}

	.entries-layout > main {
	overflow-y: auto;
}

	.entries-layout > main {
	overflow-x: hidden;
}

	.entries-layout > main {
	padding-bottom: 1.25rem;
}

	.entries-layout > main .bg-picture {
			background-image: url(/assets/scanlines.png);
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.4;
			mix-blend-mode: soft-light;
			z-index: -1;
		}

a.button.sheika, button.button.sheika {
	border-radius: 0.5rem;
	border-width: 1px;
	border-color: transparent;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-weight: 700;
	color: var(--primary-500);
}

a.button.sheika:hover, button.button.sheika:hover {
	border-color: var(--primary-500);
}

@media (min-width: 768px) {

	a.button.sheika, button.button.sheika {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	a.button.sheika, button.button.sheika {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
}

a.button.sheika, button.button.sheika {
	display: flex;
	align-items: center;
}

a.button.sheika > :not([hidden]) ~ :not([hidden]), button.button.sheika > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.75rem * var(--tw-space-x-reverse));
	margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

a.button.sheika,
button.button.sheika {

	text-shadow: var(--primary-shadow);
}

a.button.sheika:hover, button.button.sheika:hover {
		box-shadow: var(--primary-shadow-full);
	}

a.button.sheika > svg, button.button.sheika > svg {
		filter: drop-shadow(var(--primary-shadow));
	}

a.button.sheika.danger, button.button.sheika.danger {
	color: var(--danger-500);
}

a.button.sheika.danger:hover, button.button.sheika.danger:hover {
	border-color: var(--danger-500);
}

a.button.sheika.danger, button.button.sheika.danger {

		text-shadow: var(--danger-shadow);
	}

a.button.sheika.danger:hover, button.button.sheika.danger:hover {
			box-shadow: var(--danger-shadow-full);
		}

a.button.sheika.danger > svg, button.button.sheika.danger > svg {
			filter: drop-shadow(var(--danger-shadow));
		}

hr {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	border-color: var(--primary-500);
}

[role='separator'] {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
