.wrapper {

  display: flex;

  height: 100vh;

  width: 100vw;

  font-size: 1rem;

  line-height: 1.5rem;

  --tw-text-opacity: 1;

  color: rgba(255, 255, 232, var(--tw-text-opacity));

  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(/assets/blury-bg.png);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

  .wrapper .content {

  margin: auto;
}

  .wrapper .content {

  width: 100%;
}

  .wrapper .content {

  padding-left: 1.25rem;

  padding-right: 1.25rem;
}

  @media (min-width: 768px) {

  .wrapper .content {

    width: 50%;
  }
}

  @media (min-width: 1024px) {

  .wrapper .content {

    width: 40%;
  }
}

  .wrapper .content h1 {

  width: 100%;
}

  .wrapper .content h1 {

  text-align: center;
}

  .wrapper .content h1 {

  font-size: 1.5rem;

  line-height: 2rem;
}

  .wrapper .content h1 {

  font-weight: 700;
}

  .wrapper .content form {

  display: flex;
}

  .wrapper .content form {

  flex-direction: column;
}

  .wrapper .content form .form-group {

  margin-top: 0.75rem;

  margin-bottom: 0.75rem;
}

  .wrapper .content form .form-group {

  display: flex;
}

  .wrapper .content form .form-group {

  width: 100%;
}

  .wrapper .content form .form-group {

  flex-wrap: wrap;
}

  .wrapper .content form .form-group label:not(.radio) {

  display: flex;
}

  .wrapper .content form .form-group label:not(.radio) {

  width: 50%;
}

  .wrapper .content form .form-group label:not(.radio) {

  align-items: center;
}

  .wrapper .content form .form-group label:not(.radio) {

  border-top-left-radius: 0.125rem;

  border-bottom-left-radius: 0.125rem;
}

  .wrapper .content form .form-group label:not(.radio) {

  --tw-bg-opacity: 1;

  background-color: rgba(255, 255, 232, var(--tw-bg-opacity));
}

  .wrapper .content form .form-group label:not(.radio) {

  --tw-bg-opacity: 0.1;
}

  .wrapper .content form .form-group label:not(.radio) {

  padding-left: 0.75rem;

  padding-right: 0.75rem;
}

  .wrapper .content form .form-group label:not(.radio) {

  padding-top: 0.5rem;

  padding-bottom: 0.5rem;
}

  .wrapper .content form .form-group label:not(.radio) {

  font-weight: 700;
}

  .wrapper .content form .form-group label:not(.radio) {

  transition-property: all;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-duration: 150ms;
}

  .wrapper .content form .form-group input {

  width: 50%;
}

  .wrapper .content form .form-group input {

  border-top-right-radius: 0.125rem;

  border-bottom-right-radius: 0.125rem;
}

  .wrapper .content form .form-group input {

  border-width: 6px;
}

  .wrapper .content form .form-group input {

  border-style: double;
}

  .wrapper .content form .form-group input {

  --tw-border-opacity: 1;

  border-color: rgba(255, 255, 232, var(--tw-border-opacity));
}

  .wrapper .content form .form-group input {

  --tw-border-opacity: 0.2;
}

  .wrapper .content form .form-group input {

  --tw-bg-opacity: 1;

  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

  .wrapper .content form .form-group input {

  --tw-bg-opacity: 0.3;
}

  .wrapper .content form .form-group input {

  padding-left: 0.75rem;

  padding-right: 0.75rem;
}

  .wrapper .content form .form-group input {

  padding-top: 0.5rem;

  padding-bottom: 0.5rem;
}

  .wrapper .content form .form-group input {

  font-weight: 700;
}

  .wrapper .content form .form-group input {

  outline: 2px solid transparent;

  outline-offset: 2px;
}

  .wrapper .content form .form-group input {

  transition-property: all;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-duration: 150ms;
}

  .wrapper .content form .form-group:focus-within label:not(.radio) {

  --tw-bg-opacity: 0.3;
}

  .wrapper .content form .form-group:focus-within input {

  --tw-border-opacity: 1;
}

  .wrapper .content form .form-group:focus-within input {
            box-shadow: 0px 0px 10px var(--base);
          }

  .wrapper .content form fieldset .form-group {

  width: 100%;
}

  .wrapper .content form fieldset .form-group {

  flex-wrap: nowrap;
}

  .wrapper .content form fieldset .form-group {

  border-top-right-radius: 0.125rem;

  border-bottom-right-radius: 0.125rem;
}

  .wrapper .content form fieldset .form-group {

  border-width: 6px;
}

  .wrapper .content form fieldset .form-group {

  border-style: double;
}

  .wrapper .content form fieldset .form-group {

  --tw-border-opacity: 1;

  border-color: rgba(255, 255, 232, var(--tw-border-opacity));
}

  .wrapper .content form fieldset .form-group {

  --tw-border-opacity: 0.2;
}

  .wrapper .content form fieldset .form-group {

  --tw-bg-opacity: 1;

  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

  .wrapper .content form fieldset .form-group {

  --tw-bg-opacity: 0.3;
}

  .wrapper .content form fieldset .form-group {

  font-weight: 700;
}

  .wrapper .content form fieldset .form-group {

  outline: 2px solid transparent;

  outline-offset: 2px;
}

  .wrapper .content form fieldset .form-group label.radio {

  position: relative;
}

  .wrapper .content form fieldset .form-group label.radio {

  height: 100%;
}

  .wrapper .content form fieldset .form-group label.radio {

  width: 100%;
}

  .wrapper .content form fieldset .form-group label.radio {

  border-radius: 0.125rem;
}

  .wrapper .content form fieldset .form-group label.radio {

  border-width: 2px;
}

  .wrapper .content form fieldset .form-group label.radio {

  --tw-border-opacity: 1;

  border-color: rgba(255, 255, 232, var(--tw-border-opacity));
}

  .wrapper .content form fieldset .form-group label.radio {

  --tw-border-opacity: 0;
}

  .wrapper .content form fieldset .form-group label.radio input {

  position: absolute;
}

  .wrapper .content form fieldset .form-group label.radio input {

  height: 100%;
}

  .wrapper .content form fieldset .form-group label.radio input {

  width: 100%;
}

  .wrapper .content form fieldset .form-group label.radio input {

  opacity: 0;
}

  .wrapper .content form fieldset .form-group label.radio input:checked + div {

  --tw-bg-opacity: 1;

  background-color: rgba(255, 255, 232, var(--tw-bg-opacity));
}

  .wrapper .content form fieldset .form-group label.radio input:checked + div {

  --tw-bg-opacity: 0.3;
}

  .wrapper .content form fieldset .form-group label.radio div {

  padding-left: 0.75rem;

  padding-right: 0.75rem;
}

  .wrapper .content form fieldset .form-group label.radio div {

  padding-top: 0.5rem;

  padding-bottom: 0.5rem;
}

  .wrapper .content form fieldset .form-group label.radio div {

  text-align: center;
}

  .wrapper .content form fieldset .form-group label.radio div {

  transition-property: all;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-duration: 150ms;
}

  .wrapper .content form fieldset .form-group label.radio:focus-within {

  --tw-border-opacity: 1;
}

  .wrapper .content form fieldset .form-group label.radio:focus-within {
            box-shadow: 0px 0px 10px var(--base);
          }

  .wrapper .content form button.button {

  margin-left: auto;

  margin-right: auto;
}

  .wrapper .content form button.button {

  margin-top: 1.25rem;
}

  .wrapper .content form button.button {

  border-width: 2px;
}

  .wrapper .content form button.button {

  --tw-border-opacity: 1;

  border-color: rgba(255, 255, 232, var(--tw-border-opacity));
}

  .wrapper .content form button.button {

  --tw-border-opacity: 0.2;
}

  .wrapper .content form button.button {

  --tw-bg-opacity: 1;

  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

  .wrapper .content form button.button {

  --tw-bg-opacity: 0.3;
}

  .wrapper .content form button.button {

  padding-left: 2.5rem;

  padding-right: 2.5rem;
}

  .wrapper .content form button.button {

  padding-top: 0.75rem;

  padding-bottom: 0.75rem;
}

  .wrapper .content form button.button {

  text-align: center;
}

  .wrapper .content form button.button {

  font-weight: 700;
}

  .wrapper .content form button.button {

  outline: 2px solid transparent;

  outline-offset: 2px;
}

  .wrapper .content form button.button {

  transition-property: all;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-duration: 150ms;
}

  .wrapper .content form button.button:hover, .wrapper .content form button.button:focus, .wrapper .content form button.button:active {

  --tw-border-opacity: 1;
}

  .wrapper .content form button.button:hover, .wrapper .content form button.button:focus, .wrapper .content form button.button:active {

  --tw-bg-opacity: 1;

  background-color: rgba(255, 255, 232, var(--tw-bg-opacity));
}

  .wrapper .content form button.button:hover, .wrapper .content form button.button:focus, .wrapper .content form button.button:active {

  --tw-bg-opacity: 0.2;
}

  .wrapper .content form button.button:active {
          box-shadow: 0px 0px 10px var(--base);
        }
