[build]
  command = "yarn build:css && prisma migrate deploy && prisma generate && remix build"
  functions = "netlify/functions"
  publish = "public"

[dev]
  command = "concurrently \"npm:dev:*\""
  port = 3000

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@remix-run/react"]

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

[[headers]]
  for = "/build/*"
  [headers.values]
    "Cache-Control" = "public, max-age=31536000, s-maxage=31536000"