body article > .column {
  @apply flex flex-wrap;
  @apply mt-10 px-5 w-full md:mx-auto md:w-3/4 space-x-0 md:space-x-5 space-y-5 md:space-y-0;
  @apply text-primary-400;
  text-shadow: var(--primary-shadow);

  section {
    @apply flex-grow-0 w-full md:flex-1;
  }

  fieldset {
    @apply flex flex-col;

    legend {
      @apply w-full flex font-bold;

      &:before,
      &:after {
        flex: 1;
        background: linear-gradient(to right, currentColor, currentColor);
        background-size: 100% 1px;
        background-position: 0% 50%;
        background-repeat: repeat-x;
        content: '';
        filter: drop-shadow(var(--primary-shadow));
      }

      &:before {
        @apply mr-2;
      }

      &:after {
        @apply ml-2;
      }
    }
  }
}
