.entries-layout {
  @apply h-screen w-screen;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  > header,
  > footer {
    @apply bg-gradient-to-tr from-secondary-900 to-secondary-500 p-3 relative;

    nav {
      z-index: 1;
    }

    .bg-picture {
      background-image: url(/assets/concrete-2.png);
      background-size: 15rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      mix-blend-mode: hard-light
    }    
  }

  > main {
    @apply overflow-x-hidden overflow-y-auto -mx-5 relative;
    box-shadow: inset 0px 0px 20px var(--primary-500);

    .bg-picture {
      background-image: url(/assets/scanlines.png);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      mix-blend-mode: soft-light;
      z-index: -1;
    }
  }
}

a.button,
button {
  @apply text-primary-500 font-bold px-5 py-3 border border-transparent rounded hover:border-primary-500;

  text-shadow: var(--primary-shadow);
  &:hover {
    box-shadow: var(--primary-shadow-full);
  }

  > svg {
    filter: drop-shadow(var(--primary-shadow));
  }

  &.danger {
    @apply text-danger-500 font-bold px-5 py-3 border border-transparent rounded hover:border-danger-500;

    text-shadow: var(--danger-shadow);
    &:hover {
      box-shadow: var(--danger-shadow-full);
    }

    > svg {
      filter: drop-shadow(var(--danger-shadow));
    }
  }
}

hr {
  @apply border-primary-500 my-10;
}

[role='separator'] {
  @apply my-10;
}
