.entries-layout {
  @apply h-screen w-screen;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  > header,
  > footer {
    @apply flex bg-secondary-600 p-3;
  }

  > main {
    @apply overflow-x-hidden overflow-y-auto -mx-5;
    box-shadow: inset 0px 0px 20px var(--primary-500);
  }
}

a.button,
button {
  @apply text-primary-500 font-bold px-5 py-3 border border-transparent rounded hover:border-primary-500;

  text-shadow: var(--primary-shadow);
  &:hover {
    box-shadow: var(--primary-shadow-full);
  }

  > svg {
    filter: drop-shadow(var(--primary-shadow));
  }

  &.danger {
    @apply text-danger-500 font-bold px-5 py-3 border border-transparent rounded hover:border-danger-500;

    text-shadow: var(--danger-shadow);
    &:hover {
      box-shadow: var(--danger-shadow-full);
    }

    > svg {
      filter: drop-shadow(var(--danger-shadow));
    }
  }
}

hr {
  @apply border-primary-500 my-10;
}

[role='separator'] {
  @apply my-10;
}
