@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}

:root {
  --base-0: white;
  --base-50: #f9fafb;
  --base-100: #f3f4f6;
  --base-200: #e5e7eb;
  --base-300: #d1d5db;
  --base-400: #9ca3af;
  --base-500: #6b7280;
  --base-600: #4b5563;
  --base-700: #374151;
  --base-800: #1f2937;
  --base-900: #111827;

  --primary-50: #bbeef9ff;
  --primary-100: #85e8fcff;
  --primary-200: #61d3f6ff;
  --primary-300: #4fc9f3ff;
  --primary-400: #3dbef0ff;
  --primary-500: #35a0caff;
  --primary-600: #2d81a4ff;
  --primary-700: #1c4358ff;
  --primary-800: #102633ff;
  --primary-900: #04090eff;

  --secondary-50: #957d62ff;
  --secondary-100: #8a7052ff;
  --secondary-200: #7f684eff;
  --secondary-300: #735f49ff;
  --secondary-400: #5b4e3fff;
  --secondary-500: #50463bff;
  --secondary-600: #443d36ff;
  --secondary-700: #3e3934ff;
  --secondary-800: #383531ff;
  --secondary-900: #2c2c2cff;

  --danger-50: #efafbbff;
  --danger-100: #e994a1ff;
  --danger-200: #e37987ff;
  --danger-300: #dd5e6dff;
  --danger-400: #da5160ff;
  --danger-500: #d64352ff;
  --danger-600: #b73844ff;
  --danger-700: #982d35ff;
  --danger-800: #792226ff;
  --danger-900: #591717ff;

  --primary-shadow: 0px 0px 7px var(--primary-500);
  --primary-shadow-inset: inset 0px 0px 7px var(--primary-500);
  --primary-shadow-full: var(--primary-shadow), var(--primary-shadow-inset);

  --danger-shadow: 0px 0px 7px var(--danger-500);
  --danger-shadow-inset: inset 0px 0px 7px var(--danger-500);
  --danger-shadow-full: var(--danger-shadow), var(--danger-shadow-inset);
}

.text-shadow-primary {
  text-shadow: var(--primary-shadow);
}
