.wrapper {
  @apply w-screen h-screen flex text-base;

  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(/assets/blury-bg.png);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  .content {
    @apply m-auto px-5 w-full md:w-1/2;

    h1 {
      @apply font-bold text-2xl w-full text-center;
    }

    form {
      @apply flex flex-col;

      .form-group {
        @apply w-full flex my-3;

        label:not(.radio) {
          @apply w-1/2 px-3 py-2 font-bold rounded-l-sm flex items-center bg-base bg-opacity-10;
        }

        input {
          @apply px-3 py-2 bg-black bg-opacity-30 border-base border-opacity-20 border-6 border-double font-bold w-1/2 rounded-r-sm outline-none;
        }

        &:focus-within {
          label:not(.radio) {
            @apply bg-opacity-30;
          }

          input {
            @apply border-opacity-100;
            box-shadow: 0px 0px 10px var(--base);
          }
        }
      }

      fieldset .form-group {
        @apply w-full bg-black bg-opacity-30 border-base border-opacity-20 border-6 border-double font-bold rounded-r-sm outline-none;

        label.radio {
          @apply w-full h-full relative border-2 border-base border-opacity-0 rounded-sm;

          input {
            @apply absolute w-full h-full opacity-0;

            &:checked + div {
              @apply bg-base bg-opacity-30;
            }
          }

          div {
            @apply px-3 py-2 text-center;
          }

          &:focus-within {
            @apply border-opacity-100;
            box-shadow: 0px 0px 10px var(--base);
          }
        }
      }

      button.button {
        @apply mx-auto mt-5 outline-none bg-black bg-opacity-30 px-10 py-3 border-base border-2 border-opacity-20 font-bold text-center;

        &:hover,
        &:focus,
        &:active {
          @apply bg-base bg-opacity-20 border-opacity-100;
        }

        &:active {
          box-shadow: 0px 0px 10px var(--base);
        }
      }
    }
  }
}
